.landmarks
{
    margin: 10px;
}
.landmarks_title
{
    margin: 5px;
    color: rgb(0, 0, 0);
}
.rounded
{
    margin-right: 10px;
}

body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

